@media screen and (min-width: 767px) and (max-width: 2000px) {
  header .content h1 {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  header .content h1 {
    font-size: 3rem;
  }
  header.header {
    background-attachment: scroll;
  }
  .section-title {
    font-size: 2.3rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 992px) {
  .navbar-nav {
    display: flex;
    align-items: center;
    background-color: black;
  }
  .nav-item:hover::after,
  .nav-item.active-item::after {
    width: 0;
  }
}
